
.Instrcutor-container{
    .backgroundPicture{
        background: url("../../Assets/Profiles/Profile\ Background.png") center/cover;
        height: 50vh;

    }
    // padding: 0 2rem;
    .instName{
        h3{
            margin:0.2rem 0;
        }
        a{
            text-decoration: none;
        }
        p{

            margin:0.2rem 0;
        }
    }
}